.product-page-container {
  display: flex;
  background-color: white;
  padding: 1%;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
}

.product-tag {
  color: gray;
  font-size: small;
  margin: 0;
}

.gap1 {
  gap: 1rem;
}

.container-fluid {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.gapp5 {
  gap: 0.5rem;
}

.nowrap {
  flex-wrap: nowrap;
}

.w100 {
  width: 100%;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.m0 {
  margin: 0;
}

.bg-green {
  background-color: #388e3c;
}

.bg-blue {
  background-color: #2874f0;
}

.pp2 {
  padding: 0.2rem;
}

.pp5 {
  padding: 0.5rem;
}

.pp8 {
  padding: 0.8rem;
}

.ptp8 {
  padding-top: 0.8rem;
}

.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.p1 {
  padding: 1rem;
}

.border-rounded {
  border-radius: 5px;
}

.border {
  border: 2px solid gray;
}

.text-white {
  color: white;
}

.font-small {
  font-size: small;
}
.font-weight-normal {
  font-weight: normal;
}
.gapp2 {
  gap: 0.2rem;
}

.text-bold {
  font-weight: bold;
}

.text-gray {
  color: gray;
}

.ptp5 {
  padding-top: 0.5rem;
}

.img-responsive {
  height: auto;
  width: 100%;
}

.img-sm {
  width: 8%;
}
.img-xs {
  width: 2%;
}

.text-green {
  color: #388e3c;
}

.text-blue {
  color: #2874f0;
}

.font-larger {
  font-size: larger;
}

.font-largest {
  font-size: xx-large;
}

.flex-column {
  flex-direction: column;
}

.delivery-text-input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
  position: relative;
}
.text-input-inner-button {
  position: relative;
  top: 0;
  right: 20%;
  font-size: small;
  background-color: transparent;
  border: none;
}

.bg-orange {
  background-color: #ff9f00;
}

.bg-reddish-orange {
  background-color: #fb641b;
}

.product-page-related-products-container {
}

@media only screen and (max-width: 720px) {
  .product-page-container {
    width: 100%;
    flex-wrap: wrap;
  }
  .product-sharing-options {
    display: none;
  }
  .product-tag {
    display: none;
  }
  .flipkartassured {
    width: 15%;
  }
  .text-input-inner-button {
    top: -55%;
    position: relative;
    left: 60%;
  }
}

@media only screen and (max-width: 348px) {
  .text-input-inner-button {
    top: -10%;
    position: relative;
    /* left: 60%; */
  }
}
