.input-wrapper{
    position: relative;
    width: 100%;
}

.text-input{
    width: 100%; /* Input takes up full width */
    padding: 0.5rem 2.5rem .5rem 2.5rem; /* Padding for content and icon */
    font-size: 1rem; /* Font size for better readability */
    border: 1px solid #ccc; /* Standard input border */
    border-radius: 0.25rem; /* Rounded corners */
    outline: none; /* Remove outline */
    box-sizing: border-box; /* Include padding in width calculation */
}

.text-input-childrens{
    position: absolute; 
    top: 50%; 
    left: 1%;
    transform: translateY(-50%);
    color: #666; 
    pointer-events: none; 
}